#root {
  max-width: 1280px;
  margin: 0 auto;
  max-height: 100vh;
  text-align: center;
  background-color: #2f343a;
}

body {
  background: #2f343a;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.ant-input-number .ant-input-number-input {
  color: #feb062 !important;
  font-weight: 500;
  font-size: 16px;
}

.ant-input-number .ant-input-number-input:disabled {
  color: #c1a9a9 !important;
}

.ant-form-item-explain-error {
  color: #feb062 !important;
}

.ant-form-item-label label,
.ant-collapse-expand-icon,
.ant-collapse-header-text {
  color: #eeeeee !important;
}

.ant-collapse-header-text {
  color: #b0b0b0 !important;
}

.ant-form-item-required::before {
  content: "*";
  color: #feb062; /* Set the color of the required asterisk */
  margin-right: 4px; /* Optional: Add some space between the asterisk and the label */
}

.ant-collapse-content-box {
  background: #191d24;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ant-collapse-content,
.ant-collapse-item {
  border: none !important;
}

.ant-collapse {
  border: 1px solid #403c49;
  border-radius: 8px !important;
  margin-top: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
